spring:
  datasource:
    driver-class-name: org.h2.Driver
    url: jdbc:h2:mem:mylittleannotation;mode=mysql
    username: sa
    password:

  h2:
    console:
      enabled: true

  sql:
    init:
      mode: always
      data-locations: classpath:sql/data.sql

  jpa:
    database: h2
    properties:
      hibernate:
        ddl-auto: create
        show_sql: true
        format_sql: true
        dialect: org.hibernate.dialect.H2Dialect
    defer-datasource-initialization: true
    open-in-view: false
